<div class="container">
  <%= simple_form_for @note do |f| %>
    <%= f.input :date, as: :date%>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.submit 'Add a note', class: 'btn btn-primary' %>
  <% end %><hr>
</div>

