<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://image.flaticon.com/icons/png/512/129/129728.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%# unless: root_path %>
    <% if user_signed_in? %>

      <div class="d-flex flex-grow-1">
        <%= link_to 'Yogi space', personal_dashboard_path, class: "btn btn-outline-light btn-sm m-2 flex-grow-1" %>
        <%= link_to 'Shala space', studio_path(current_user.studio), class: "btn btn-outline-light btn-sm m-2 flex-grow-1" %>
        <%= link_to 'Community space', community_path(current_user.studio), class: "btn btn-outline-light btn-sm m-2 flex-grow-1" %>
        <% if current_user.is_admin? %>
          <%= link_to 'Admin space', admin_dashboard_path, class: "btn btn-outline-light btn-sm m-2 flex-grow-1" %>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "My Profile", personal_dashboard_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
        </ul>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    <%# end %>
  </div>
</div>
