<div class="container">

  <h2>Show events index</h2>
<br>
------------------------------------------
<br>
  <p>All events</p>

  <% @events.each do |e| %>
<br>  <%= link_to e.title, studio_event_path(e.studio, e.id) %>
<br>  <%= e.date %>
<br>  <%= e.content %>
<br>  <%= link_to "Edit", edit_studio_event_path(e.studio, e.id) %>
<br>  <%= link_to "Delete", studio_event_path(e.studio, e.id), method: :delete %>
<br>------------------------------------------
<br>
  <% end %>


  <%= link_to "Back to StudioWorld", studio_path(@studio) %>
</div>
