<div class="container">
  <h1>This is the event show page</h1>
    <br>
    ------------------------------------------
      <br>
      <%= @event.title %>
      <%= @event.content %>
      <%= @event.date %>
      <%= cl_image_tag @event.photo, height: 300, width: 400, crop: :fill %>

  <br>------------------------------------------
  <br>  <%= link_to "Edit", edit_studio_event_path(@studio, @event),class: "btn btn-outline-primary btn-sm" %>
  <br>  <%= link_to "Delete", studio_event_path(@studio, @event), class: "btn btn-outline-primary btn-sm", method: :delete %>
  <br>
  <%= link_to "Back to event index", studio_events_path(@studio), class: "btn btn-outline-primary btn-sm" %>

  <%= link_to "Back to StudioWorld", studio_path(@studio), class: "btn btn-outline-primary btn-sm" %>
</div>
