<div class="container">
  <h1>This is the event show page</h1>
    <br>
    ------------------------------------------

      <br>
      <br> <p><b>Title:</b>       <%= @event.title %></p>
      <br> <p><b>Date:</b>        <%= @event.date %></p>
      <br> <p><b>Description:</b> <%= @event.content %></p>
      <%= cl_image_tag @event.photo, height: 300, width: 400, crop: :fill %>

  <br>------------------------------------------
  <% if policy(@event).edit? %>
    <%= link_to "Edit", edit_studio_event_path(@studio, @event),class: "btn btn-outline-primary btn-sm" %>
  <% end %>

  <% if policy(@event).destroy? %>
    <%= link_to "Delete", studio_event_path(@studio, @event), class: "btn btn-outline-primary btn-sm", method: :delete %>
  <% end %>
  <br>

  <%= link_to "Back to event index", studio_events_path(@studio), class: "btn btn-outline-primary btn-sm" %>

  <%= link_to "Back to StudioWorld", studio_path(@studio), class: "btn btn-outline-primary btn-sm" %>
</div>
