<div class="container">
  <h1>Your Orders </h1>
  <br>

  <table class="table table_admin" style="width:100%">
    <tr>
      <th>Name</th>
      <th>Subscription type</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Status</th>
      <th>Payment method </th>
    </tr>
    <% @orders.each do|order|%>
    <tr>
      <td><%= order.user_id %></td>
      <td><%= order.subscription_id %></td>
      <td><%= order.amount_cents %></td>
      <td><%= order.date %></td>
      <td><%= order.status %></td>
      <td><%= order.payment_method %></td>
      </tr>
    <% end %>
  </table>

    <%= link_to "Back", admin_dashboard_path %>
</div>







