<div class="container main-container">
  <div class="left-pannel">
    <div class="second-card" style="margin-top: 0;">
      <h1>Upcoming classes at <%= @studio.name %></h1>
      <!-- schedule of all events -->
      <div class="lessons-cards schedule-admin">
        <% @lesson_dates.each do |date| %>
          <h2 class="date-title"><%= date.to_formatted_s(:long_ordinal) %></h2>
            <% Lesson.where( studio: current_user.studio ).each do |lesson| %>
            <div class="lesson-card">
              <div class="lesson-card-content">
                <div class="lesson text-center" style="width: 25%">
                  <p><%= lesson.name %></p>
                </div>
                <div class="time text-center" style="width: 30%">
                    <p><%= lesson.start_time.strftime('%H:%M') %> - <%= lesson.end_time.strftime('%H:%M') %></p>
                </div>
                <div class="name-teacher text-center" style="width: 20%">
                    <p><%= lesson.user.first_name %></p>
                </div>
                <div class=" text-center" style="width: 25%">
                  <p><%= lesson.bookings.count %> bookings</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to "Add a class", new_lesson_path, class: "btn btn-primary btn-sm"%>
    </div>
  </div>

  <div class="right-pannel">
    <div class="third-card">
      <h1><%= @studio.name %>: an overview</h1>
      <div class="d-flex justify-content-around">
        <div class="stats">
          <%= link_to students_path, class: "link-icon" do %>
            <h2><%= @students.count %></h2> <br>
            <p>Yogis</p>
          <% end %>
        </div>
        <div class="stats">
          <%= link_to teachers_path, class: "link-icon" do %>
            <h2><%= @teachers.count %></h2> <br>
            <p>Teachers</p>
          <% end %>
        </div>
        <div class="stats">
            <% sum = 0 %>
            <% @subscriptions.each do |subscription| %>
              <% sum += (subscription.orders.count * subscription.amount).to_i %>
            <% end %>
          <%= link_to studio_subscriptions_path(@studio), class: "link-icon" do %>
            <h2><%= sum %> IDR</h2> <br>
            <p>Revenue</p>
          <% end %>
        </div>
        <div class="stats">
          <%= link_to studio_lessons_path(@studio), class: "link-icon" do %>
            <h2><%= @lessons.count %></h2> <br>
            <p>Lessons</p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- bottom right -- many editing actions -->
    <div class="third-card">
      <div class="top-of-third d-flex justify-content-between">
        <div class="edit-details">
          <h1><i class="fas fa-users fa-users-one"></i></h1>
          <p>Manage my <b>studio information</b></p>
          <%= link_to edit_studio_path(@studio), class: "link" do %>
            <p class="btn btn-primary btn-sm">edit</p>
          <% end %>
        </div>
        <div class="edit-details">
            <h1><i class="fas fa-users fa-users-one"></i></h1>
            <p>Add, edit, and manage <b>lessons</b></p>
          <%= link_to studio_lessons_path(@studio), class: "link" do %>
            <p class="btn btn-primary btn-sm">edit</p>
          <% end %>
        </div>
        <div class="edit-details">
            <h1><i class="fas fa-users fa-users-one"></i></h1>
            <p>Add, edit, and manage <b>events</b></p>
          <%= link_to studio_events_path(@studio), class: "link" do %>
            <p class="btn btn-primary btn-sm">edit</p>
          <% end %>
        </div>
      </div>
      <div class="bottom-of-third d-flex">
        <div class="edit-details">
            <h1><i class="fas fa-users fa-users-one"></i></h1>
            <p>Manage all my <b>students</b></p>
          <%= link_to students_path, class: "link" do %>
            <p class="btn btn-primary btn-sm">edit</p>
          <% end %>
        </div>
        <div class="edit-details">
            <h1><i class="fas fa-users fa-users-one"></i></h1>
            <p>Manage all my <b>teachers</b></p>
          <%= link_to teachers_path, class: "link" do %>
            <p class="btn btn-primary btn-sm">edit</p>
          <% end %>
        </div>
        <div class="edit-details">
            <h1><i class="fas fa-users fa-users-one"></i></h1>
            <p>Add and edit <b>subscriptions</b></p>
          <%= link_to studio_subscriptions_path(@studio), class: "link" do %>
            <p class="btn btn-primary btn-sm">edit</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- almost all available paths -->
<!--   <hr>
  <%#= link_to "Your students", students_path%>
  <br>
  <br>
  <%#= link_to "Your teachers", teachers_path%>
  <%#= link_to "Add", new_teacher_path%>
  <br>
  <br>
  <%#= link_to "Your subscriptions", studio_subscriptions_path(current_user.studio_id)%>
  <%#= link_to "Add", new_studio_subscription_path(current_user.studio_id)%>
  <br>
  <br>
  <%#= link_to "Your lessons", studio_lessons_path(current_user.studio_id)%>
  <%#= link_to "Add", new_lesson_path%>
  <br>
  <br>
  <%#= link_to "Your events", studio_events_path(current_user.studio_id)%>
  <%#= link_to "Add", new_studio_event_path(current_user.studio_id)%>
  <br>
  <br>
  <%#= link_to "Your studio", studio_path(current_user.studio_id)%>
  <%#= link_to "change studio details", edit_studio_path(current_user.studio_id)%>

  <hr>
  <p><%#=  link_to "all orders", orders_path %>

  </p>
  <hr> -->
