<div class="main-container">
  <div class="left-pannel">
    <div class="personal-details">
      <div class="avatar-and-buttons">
        <div class="personal-avatar">
          <%= cl_image_tag current_user.photo, crop: :fill %>
        </div>
        <div class="personal-buttons mt-3">
          <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="personal-description">
        <p><%= current_user.first_name %> <%= current_user.last_name %> <br> <hr>
        <%= current_user.address %> <br>
        <%= current_user.email %></p>
      </div>
    </div>
    <div class="my-classes">
      <div class="title-class">
          <h2>My upcoming classes</h2>
      </div>

      <div class="table-class">
        <% if !Booking.where(user_id: current_user).empty? %>
            <% current_user.bookings.each do |booking| %>
              <div class="notification">
                <div class="notification-content">
                  <div class="lesson">
                    <p><%= booking.lesson.name %></p>
                  </div>
                  <div class="time">
                    <p>
                      <%= booking.lesson.start_time.strftime('%H:%M') %>
                      <%= booking.lesson.end_time.strftime('%H:%M') %>
                    </p>
                  </div>
                  <div class="avatar-large">
                    <%= cl_image_tag booking.lesson.user.photo %>
                  </div>
                  <div class="name-teacher">
                    <p>
                      <%= booking.lesson.user.first_name %>
                    </p>
                  </div>
                </div>
              </div>

            <% end %>
        <% end %>
      </div>
        <%# if !@available_usage || !@date_validity %>
    </div>
  </div>

  <div class="right-pannel">
    <div class="subscriptions-container px-3 py-4">
      <div class="my-subscription-container">
        <p> My subscription:
          <% current_user.user_plans.each do |user_plan| %>
            <% left_usage = user_plan.left_usage - user_plan.bookings.size %>
            <% if left_usage > 0 && user_plan.end_date > Date.today %>
              <b><%= left_usage %></b> times remaining of <b><%= user_plan.order.subscription.name %></b>
              <br>Valid from <%= user_plan.start_date.to_formatted_s(:rfc822) %> to <%= user_plan.end_date.to_formatted_s(:rfc822) %>
            <% end %>
          <% end %>
        </p>
      </div>
      <hr>
      <div class="subscription-cards">
        <% @subscriptions.each do |subscription| %>
          <div class="subscription-card">
            <p><%= subscription.name %>: <%= subscription.content %> <br> <%= link_to 'Buy now', orders_path(subscription_id: subscription), method: :post %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="title-calendar">
      <h2>My calendar / diary </h2>
      <p id="calendar-button"> <%= link_to "Add note", new_note_path%></p>
    </div>
    <div class="calendar">
        <%= month_calendar(events: current_user.notes, attribute: :date) do |date, notes| %>
          <%= date.day %>
          <% if Note.where(date: date.to_datetime, user: current_user).exists? %>
            <%= link_to notes_path(date: date), remote: true do  %>
              <i class="fas fa-sticky-note" style="color: #6d8092"></i>
            <% end %>
          <% end %>
          <% if Booking.where(date: date.to_datetime, user: current_user).exists? %>
            <div class="booked_lesson"></div>
          <% end %>
        <% end %>
      </div>

    <div class="notes">
      <h2>Notes</h2>
    </div>
  </div>
</div>

<%# notes.each do |note| %>
  <!-- <p><%#= link_to note.title, personal_dashboard_path %></p> -->
<%# end %>

<!--
      <%# current_user.notes.each do |note| %>
      <p> <strong> <%#= note.title %> </strong> <br>
        <%#= note.content %> </p>
      <p> <%#= link_to "Edit",  edit_note_path(note)%> <%#= link_to "Delete", note_path(note), method: :delete %></p>
      <hr>
      <%# end %> -->

