<div class="container">
  <h1>Personal dashboard</h1>

  <div class="personal-details">
    <h2>Account</h2><hr>
    <img src="https://image.flaticon.com/icons/png/512/129/129728.png" alt="avatar" class="avatar rounded-circle"><p>avatar</p><hr>
    <%= current_user.first_name %><br>
    <%= current_user.last_name %><br>
    <%= current_user.address %><br>
    <%= current_user.email %><br><br>
    <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-primary" %>
  </div>
  <hr>

  <div class="user-plan">

    <h2>My subscriptions</h2>
    <ul>
      <% current_user.user_plans.each do |user_plan| %>
        <li><%= user_plan.order.subscription.name %>,
          <b><%= user_plan.left_usage - user_plan.bookings.size %></b> times remaining,
          Start date: <%= user_plan.start_date %>,
          End date: <%= user_plan.end_date %>
        </li>
      <% end %>
    </ul>
  </div><hr>
  <div>
    <!-- see all available subscriptions and order one -->
    <h2>Chose a new subscription</h2>
    <ul>
      <% @subscriptions.each do |subscription| %>
        <li><%= subscription.name %>: <%= subscription.content %> <%= link_to 'Buy now', orders_path(subscription_id: subscription), method: :post %></li>
      <% end %>
    </ul>
  </div>

  <hr>

  <!-- user can add a note to calendar -->
  <div class="calendar">
    <h2>Calendar</h2>
    <p> <%= link_to "Add note", new_note_path%></p>
    <div class="w-50">
      <%= month_calendar(events: current_user.notes, attribute: :date) do |date, notes| %>
          <%= date.day %>
            <% if Note.where(date: date.to_datetime, user: current_user).exists? %>
              <%= link_to notes_path(date: date), remote: true do  %>
                <i class="fas fa-sticky-note" style="
                color: #6d8092"></i>
              <% end %>
            <% end %>
            <% if Booking.where(date: date.to_datetime, user: current_user).exists? %>
              <div class="booked_lesson"></div>
            <% end %>

      <% end %>
    </div><hr>
  </div>

  <h2>Notes</h2>
  <div class="notes">
  <br>
  <hr>
  </div>
</div>


<%# notes.each do |note| %>
  <!-- <p><%#= link_to note.title, personal_dashboard_path %></p> -->
<%# end %>

<!--
      <%# current_user.notes.each do |note| %>
      <p> <strong> <%#= note.title %> </strong> <br>
        <%#= note.content %> </p>
      <p> <%#= link_to "Edit",  edit_note_path(note)%> <%#= link_to "Delete", note_path(note), method: :delete %></p>
      <hr>
      <%# end %> -->

