<div class="container">
  <h1>Personal dashboard</h1>

  <div class="personal-details">
    <h2>Account</h2><hr>
    <img src="https://image.flaticon.com/icons/png/512/129/129728.png" alt="avatar" class="avatar rounded-circle"><p>avatar</p><hr>
    <%= current_user.first_name %><br>
    <%= current_user.last_name %><br>
    <%= current_user.address %><br>
    <%= current_user.email %><br><br>
    <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-primary" %>
  </div>

  <div class="user-plan">

    <h2>My subscriptions</h2>
    <ul>
      <% current_user.user_plans.each do |user_plan| %>
        <li><%= user_plan.order.subscription.name %>,
          <b><%= user_plan.left_usage %></b> times remaining,
          Start date: <%= user_plan.start_date %>,
          End date: <%= user_plan.end_date %>
        </li>
      <% end %>
    </ul>
  </div><hr>
  <div>
    <!-- see all available subscriptions and order one -->
    <h2>Chose a new subscription</h2>
    <ul>
      <% @subscriptions.each do |subscription| %>
        <li><%= subscription.name %>: <%= subscription.content %> <%= link_to 'Buy now', orders_path(subscription_id: subscription), method: :post %></li>
      <% end %>
    </ul>
  </div>

  <!-- user can add a note to calendar -->
  <div class="calendar">
    <h2>Calendar</h2>
    <div class="w-50">
      <%= month_calendar(events: current_user.notes, attribute: :created_at) do |date, notes| %>
      <%= date.day %>
      <p>
      <% notes.each do |note| %>
        <a href="#note-<%= note.id %>"><%= note.title %></a>
      </p>
      <% end %>
      <% end %>
    </div><hr>
  </div>

  <div class="notes">
    <h2>Notes</h2>
    <%= simple_form_for @note do |f| %>
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.submit 'Add a note', class: 'btn btn-primary' %>
    <% end %><hr>
    <% current_user.notes.each do |note| %>
      <p id="note-<%= note.id %>"><%= note.id %>: <%= note.content %></p>
    <% end %>
  </div>
</div>
