<div class="container main-container">
  <div class="left-pannel">
    <div class="first-card-personal">
      <div class="avatar-and-buttons">
        <div class="avatar-talalla">
          <%= cl_image_tag current_user.photo, crop: :fill %>
        </div>
        <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-outline-primary btn-sm'%>
        <!-- <div class="global-button mt-3"> -->
        <!-- </div> -->
      </div>
      <div class="description-talalla">
        <h1><%= current_user.first_name %> <%= current_user.last_name %> <br> </h1>
        <p><%= current_user.address %> <br>
        <%= current_user.email %></p>
        <p>About you: </p>
      </div>
    </div>

    <!-- lessons schedule -->
    <div class="second-card schedule">
      <h1>My upcoming classes</h1>
      <div class="lessons-cards">
        <% @booking_dates.each do |date| %>
          <h2 class="date-title"><%= date.to_formatted_s(:long_ordinal) %></h2>
          <% Lesson.joins(:bookings).where(bookings: { user_id: current_user.id }).where(start_date: date).each do |lesson| %>
              <div class="lesson-card">
                <div class="lesson-card-content">
                  <div class="lesson text-center" style="width: 30%">
                    <p><%= lesson.name %></p>
                  </div>
                  <div class="time text-center" style="width: 30%">
                      <p><%= lesson.start_time.strftime('%H:%M') %> -
                      <%= lesson.end_time.strftime('%H:%M') %></p>
                  </div>
                  <div class="text-center ml-4">
                    <%= cl_image_tag lesson.user.photo, class: "avatar" %>
                  </div>
                  <div class="name-teacher text-center" style="width: 30%">
                    <p><%= lesson.user.first_name %></p>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to "Book a lesson", studio_lessons_path(current_user.studio), class: 'btn btn-primary btn-sm'%>
    </div>
  </div>

  <div class="right-pannel">
    <div class="third-card" style="height: 306px;">
      <h1>My current subscription:</h1>
      <div class="my-subscription-container">
          <% current_user.user_plans.each do |user_plan| %>
            <% left_usage = user_plan.left_usage - user_plan.bookings.size %>
            <% if left_usage > 0 && user_plan.end_date > Date.today %>
              <b><%= left_usage %></b> / <b><%= user_plan.order.subscription.name %></b> remaining
              <br>Valid from <%= user_plan.start_date.to_formatted_s(:rfc822) %> to <%= user_plan.end_date.to_formatted_s(:rfc822) %>
            <% end %>
          <% end %>
      </div>


      <div class="subscription-cards">
        <% @subscriptions.each do |subscription| %>
          <div class="subscription-card text-center">
           <%= subscription.name.upcase %>:<br> <%= subscription.content %>
            <div>
            <%= link_to 'Buy  ', orders_path(subscription_id: subscription), method: :post, class: 'btn btn-primary btn-sm' %> </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="calendar-notes-container">
      <div class="title-calendar d-flex justify-content-between">
        <h1>My calendar / diary </h1>
        <div><%= link_to "Add note", new_note_path, class: 'btn btn-primary btn-sm'%></div>
      </div>
      <div class="calendar">
          <%= month_calendar(events: current_user.notes, attribute: :date) do |date, notes| %>
            <%= date.day %>
            <% if Note.where(date: date.to_datetime, user: current_user).exists? %>
              <%= link_to notes_path(date: date), remote: true do  %>
                <i class="fas fa-sticky-note" style="color: #6d8092"></i>
              <% end %>
            <% end %>
            <% if Booking.where(date: date.to_datetime, user: current_user).exists? %>
              <div class="booked_lesson"></div>
            <% end %>
          <% end %>
        </div>
      <div class="legend">

      </div>
      <div class="notes">
        <h2>Notes</h2>
      </div>
    </div>
  </div>
</div>
