<div class="container">
  <br>
  <h1>Welcome to your Students overview</h1>
  <br>
  <p><strong>You have <%= @students.count %> students</strong></p>
  <table class="table table_admin" style="width:100%">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Biography</th>
      <th>Subscription type</th>
      <th>Left usages</th>
      <th>Valid until</th>
    </tr>
    <% @students.each do|student|%>
    <tr>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td><%= student.email %></td>
      <td><%= student.address %></td>
      <td><%= student.biography.truncate(80) %></td>
      <%if student.orders.empty? %>
      <td> None </td>
      <td> 0 </td>
      <td> - </td>
      <% else %>
        <td> <%= student.orders.last.subscription.name %></td>
        <td> <%= student.user_plans.last.left_usage%></td>
        <td> <%= student.user_plans.last.end_date.to_formatted_s(:long_ordinal)%></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <%= link_to "Back", admin_dashboard_path, class: "btn btn-outline-primary btn-sm mb-2" %>
</div>
