<%= simple_form_for([@studio, @subscription]) do |f| %>
  <%= f.input :name%>
  <%= f.input :content %>
  <%= f.input :durability, label: "Valid for", placeholder: "30 days"%>
  <%= f.input :package_size %>
  <%= f.input :amount, placeholder: "200.000" %>
  <%= f.input :payment_option, as: :select, collection: ["cash", "card"] %>
  <div class="submit-form-button">
    <%= f.button :submit, class: "btn btn-primary btn-100 rounded" %>
  </div>
<% end %>
