<div class="container">
  <h1>Your subscriptions </h1>
  <br>
  <p>Total revenue <strong>xx EUR</strong></p>
  <p>Sold <strong>x</strong> subscriptions</p>


  <table class="table table_admin" style="width:100%">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Durability in days</th>
      <th>Number of usages</th>
      <th>Costs per subscription</th>
      <th>Number of times sold </th>
      <th>Total revenue </th>
    </tr>
    <% @subscriptions.each do|subscription|%>
    <tr>
      <td><%= subscription.name %></td>
      <td><%= subscription.content %></td>
      <td><%= subscription.durability %></td>
      <td><%= subscription.package_size %></td>
      <td><%= subscription.amount %></td>
      <td>to be added</td>
      <td>to be added</td>
    </tr>
    <% end %>
  </table>

    <%= link_to "Back", admin_dashboard_path %>
</div>
