<%= simple_form_for [@lesson] do |f| %>
<%= f.input :name, placeholder: "Add a name for the lesson..." %>
<%= f.association :user, label: "Teacher", collection: User.where(is_teacher: true).map {|u| [u.id, [u.first_name, u.last_name].join(' ')]}, value_method: :first, label_method: :second %>
<%= f.input :location, placeholder: "What room is the lesson in..." %>
<%= f.input :content, placeholder: "Add a detailed description of the lesson..." %>
<%= f.input :slots, placeholder: "How many people can participate..." %>
<%= f.input :start_time, as: :time %>
<%= f.input :end_time, as: :time %>
<%= f.input :start_date, as: :date %>
<%= f.input :occurrence, placeholder: "How many weeks is this lesson going to be..." %>
<div class="text-center mt-5 mb-3">
<%= f.submit 'Save',  class: "submit-button" %>
</div>
<% end %>
