<div class="container">

  <h2>Show lessons index</h2>
<br>
------------------------------------------
<br>
  <p>All lessons</p>
  <% @lessons.each do |l| %>
    <p><b>Name: </b>       <%= link_to l.name, lesson_path(l.id) %></p>
    <p><b>Room: </b>       <%= l.location %></p>
    <p><b>Description: </b><%= l.content %></p>
    <p><b>Places: </b>     <%= l.slots %></p>
    <p><b>Time: </b>       <%= l.time %></p>
    <p><b>When: </b>       <%= l.occurrence %></p>
------------------------------------------
<br>

  <% end %>
<br>
  <%= link_to "Add new class", new_lesson_path(@lesson), class: "btn btn-outline-primary btn-sm" %>


  <%= link_to "Back to StudioWorld", studio_path(@studio), class: "btn btn-outline-primary btn-sm" %>
</div>
