<div class="container">

  <h2>Show lessons index</h2>
  <hr>
  <p>All lessons</p>
  <%= link_to "Add new lesson", new_lesson_path(@lesson), class: "btn btn-outline-primary btn-sm" %>
  <hr>
  <% @lessons.each do |l| %>
  <p><b>Name: </b>       <%= link_to l.name, lesson_path(l.id) %></p>
  <p><b>Room: </b>       <%= l.location %></p>
  <p><b>Description: </b><%= l.content %></p>
  <p><b>Slots: </b>     <%= l.slots - l.bookings.size %></p>
  <p><b>Time: </b> <%= l.start_time.to_formatted_s(:time) %> - <%= l.end_time.to_formatted_s(:time) %></p>
  <p><b>Date: </b>        <%= l.start_date.to_formatted_s(:rfc822) %></p>
  <p><b>Teacher: </b>       <%= l.user.first_name %></p>
  <%= link_to "Delete", lesson_path(l.id), class: "btn btn-outline-primary btn-sm", method: :delete %>

  <%# if l.slots - l.bookings.size > 0 && user_plan.left_usage - user_plan.bookings.size > 0 && user_plan.end_date > Date.today%>
    <%= link_to "Book", lesson_bookings_path(l.id), class: "btn btn-outline-primary btn-sm", data: {confirm: 'Do you want to book this lesson?'}, method: :post%>
    <hr>
    <% else %>
    <% end %>
  <%# end %>

  <%= link_to "Back to StudioWorld", studio_path(@studio), class: "btn btn-outline-primary btn-sm" %>
  <hr>
</div>
