<div class="container">
  <h1>This is the lesson show page</h1>
    <br>
    ------------------------------------------
<br>  <%= link_to "Book", lesson_path(@lesson), class: "btn btn-outline-primary btn-sm", data: {confirm: 'Do you want to book this lesson?', commit: 'I would love to!'} %>

  <p><b>Name: </b>       <%= @lesson.name %></p>
  <p><b>Room: </b>       <%= @lesson.location %></p>
  <p><b>Description: </b><%= @lesson.content %></p>
  <p><b>Places: </b>     <%= @lesson.slots %></p>
  <p><b>Start time: </b> <%= @lesson.start_time.to_formatted_s(:time) %></p>
  <p><b>End time: </b>   <%= @lesson.end_time.to_formatted_s(:time) %></p>
  <p><b>Date: </b>       <%= @lesson.start_date.to_formatted_s(:rfc822) %></p>
  <!-- <p><b>Weeks: </b>       <%#= @lesson.occurrence %></p> -->
  <p><b>Teacher: </b>    <%= @lesson.user.first_name %></p>

<% if policy(Lesson).update? %>
  <%= link_to "Edit", edit_lesson_path(@lesson),class: "btn btn-outline-primary btn-sm" %>
<% end %>
<br>
<% if policy(Lesson).destroy? %>
  <%= link_to "Delete", lesson_path(@lesson), class: "btn btn-outline-primary btn-sm", method: :delete %>
<% end %>
<br>

<%= link_to "Back to lesson index", studio_lessons_path(@lesson.studio_id), class: "btn btn-outline-primary btn-sm" %>


</div>


