<div class="container">
  <h1>Change details of your Shala</h1>
  <%= simple_form_for @studio do |f| %>
    <%= f.input :name%>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
    <%= f.input :homepage %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to "Back", studio_path(current_user.studio_id) %>
</div>

