<%= simple_form_for @studio do |f| %>
  <%= f.input :name%>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :email %>
  <%= f.input :homepage %>
  <div class="submit-form-button">
    <%= f.button :submit, class: "btn btn-primary btn-100 rounded" %>
  </div>
<% end %>
