<div class="container">

  <div class="community d-flex m-2">
    <div class="channels">
      <% @categories.each do |category| %>
        <div class="channel">
          <h2><%= category.title %></h2>
        </div>
      <% end %>
      <%= link_to new_category_path, title: "add a new channel" do %>
        <i class="fas fa-plus add-button"></i>
      <% end %>
    </div>

    <div class="conversations">
      <div class="channel-info">
        <% @categories.each do |category| %>
          <div class="title-add-post d-flex justify-content-between">
            <h1><b><%= category.title %></b></h1>
            <!-- button to open modal (add post to category) -->
            <a data-toggle="modal" data-target="#myModal" title="add a post to this channel"><i class="fas fa-plus add-button"></i></a>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="text-center">Add a post about <%= category.title %></h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <%= render 'posts/form_for_post', category: category %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p><b>Description:</b> <%= category.description %></p>
      </div>

          <% category.posts.each do |post| %>
            <div class="post">
              <div class="post-info">
                <div class="post-info-left">
                  <p><%= post.user.first_name %> <%= post.user.last_name %></p>
                  <h2><b><%= post.title %></b></h2>
                </div>
                <%= cl_image_tag post.user.photo, class: "avatar" %>
              </div>
              <p><%= post.content %></p>
            </div>

              <%= link_to "see all comments...", show_all_comments_post_path(post), remote: true %>
              <div id="allComment">
                <%= render partial: 'comments', locals: { comments: post.comments.last(2)} %>
              </div>
                <div class="new-comment">
                  <!-- d-flex the submit button next to form input field -->
                  <%= render 'comments/form_for_comment', post: post %>
                </div>
              <hr class="w-50">
          <% end %>
        <% end %>
    </div>
  </div>
</div>

