<div class="container main-container">
  <div class="left-pannel">
    <!-- lessons schedule -->
    <div class="second-card-show" style="margin-top: 0;">
      <div class="title-lessons-show">
      <h1>Upcomming classes at <%= @studio.name %></h1></div>
      <div class="lessons-cards schedule-shala">
        <% @lesson_dates.each do |date| %>
          <h2 class="date-title"><%= date.to_formatted_s(:long_ordinal) %></h2>
          <% Lesson.where( studio: current_user.studio ).each do |lesson| %>
            <div class="lesson-card">
              <div class="lesson-card-content">
                <div class="lesson text-center" style="width: 30%">
                  <p><%= lesson.name %></p>
                </div>
                <div class="time text-center" style="width: 30%">
                    <p><%= lesson.start_time.strftime('%H:%M') %> -
                    <%= lesson.end_time.strftime('%H:%M') %></p>
                </div>
                <div class="text-center ml-4">
                  <%= cl_image_tag lesson.user.photo, class: "avatar" %>
                </div>
                <div class="name-teacher text-center" style="width: 30%">
                  <%= link_to "Book", lesson_bookings_path(lesson), method: :post, class: "btn btn-primary btn-sm" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="right-pannel">
    <div class="second-card-studio">
      <div class="teacher-title-show"><h1>Our teachers</h1></div>
      <div class="teacher-cards">
        <% users = User.where(is_teacher: true) %>
        <% users.each_with_index do |u, index| %>
          <!-- if index === 1 then add id="highlight" -->
          <div class="teacher-card">
            <div class="teacher-name">
              <%= cl_image_tag u.photo, class: "avatar-large-studio"%>
              <p><%= u.first_name%></p>
            </div>
            <div class="teacher-bio"><%= u.biography %></div>
          </div>
        <hr>
        <% end %>
      </div>
    </div>
        <%#= link_to "See all upcoming events - event index", studio_events_path(@studio), class: "btn btn-outline-primary btn-sm" %>
    <div class="third-card">
      <h1>Upcoming events</h1>
      <div class="event-cards">
        <% @events.each_with_index do |e, i| %>
          <div class="event-card">
            <div class="event-photo"><%= cl_image_tag e.photo, height: 144, width: 160, crop: :fill%>
            </div>
            <div class="event-title"><%= link_to e.title, studio_event_path(@studio, e)%></div>
            <div class="event-date"><%= e.date.to_formatted_s(:rfc822) %></div>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- <div class="carousel slide" data-ride="carousel">
   <div class="carousel-inner">
       <div class="carousel-item active">
           <div class="row">
               <div class="col"><img src=".." alt="1 slide"></div>
               <div class="col"><img src=".." alt="2 slide"></div>
               <div class="col"><img src=".." alt="3 slide"></div>
           </div>
           <div class="row">
               <div class="col"><img src=".." alt="4 slide"></div>
               <div class="col"><img src=".." alt="5 slide"></div>
               <div class="col"><img src=".." alt="6 slide"></div>
           </div>
       </div>
   </div>
</div>
 -->






