<div class="container">
  <h2>Show studio dashboard</h2>

  <br> <h3><b>Name:</b> <%= @studio.name %> </h3>
  <br> <h4><b>Address:</b> <%= @studio.address %> </h4>
  <br> <h5><b>Phone:</b> <%= @studio.phone_number %> </h5>
  <br> <h5><b>Email:</b> <%= @studio.email %> </h5>
  <br> <h5><b>Webpage:</b> <%= @studio.homepage %> </h5>
  <%= link_to "Change Studio details", edit_studio_path(current_user.studio_id)%>

  <hr>
  <%= link_to "See all lessons", studio_lessons_path(@studio), class: "btn btn-outline-primary btn-sm" %>
  <hr>
  <h3>List of todays lessons - <%= Date.today %></h3>
  <% @lessons = Lesson.where(start_date: Date.today) %>
  <% @lessons.each do |l| %>
  <p><b>Name: </b>        <%= link_to l.name, lesson_path(l.id) %></p>
  <p><b>Room: </b>        <%= l.location %></p>
  <p><b>Description: </b> <%= l.content %></p>
  <p><b>Places: </b>      <%= l.slots %></p>
  <hr>
  <% end %>

  <h3>List of tomorrows lessons - <%= Date.tomorrow %></h3>
  <% @lessons = Lesson.where(start_date: Date.tomorrow) %>
  <% @lessons.each do |l| %>
  <p><b>Name: </b>        <%= link_to l.name, lesson_path(l.id) %></p>
  <p><b>Room: </b>        <%= l.location %></p>
  <p><b>Description: </b> <%= l.content %></p>
  <p><b>Places: </b>      <%= l.slots %></p>
  <hr>
  <% end %>

<hr>
  <%= link_to "See all upcoming events - event index", studio_events_path(@studio), class: "btn btn-outline-primary btn-sm" %>

  <%= link_to "Add event", new_studio_event_path(@studio),  class: "btn btn-outline-primary btn-sm"%>
  <hr>

  <% @events.each do |e| %>
  <p><b>Title: </b><%= link_to e.title, studio_event_path(@studio, e) %></p>
  <p><b>Date: </b><%= e.date %></p>
  <p><b>Description: </b><%= e.content %></p>
  <% end %>
  <hr>

</div>
