<div class="container">
  <h2>Show studio dashboard</h2>

  <p>Upcoming events</p>
  <%#= Event.where(params[:studio_id]).each do |e| %>
  <% @events.each do |e| %>
  <%= link_to e.title, studio_event_path(@studio) %> <br>
  <%= e.date %> <br>
  <%= e.content %>
  <br>
  <br>
  <% end %>
  <br>
  <%= link_to "See all events - event index", studio_events_path(@studio) %>
  <br>
  <%= link_to "Add event", new_studio_event_path(@studio)%>

</div>
