<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>talalla</title>
    <meta name="description" content="Bringing people together while keeping your administrative tasks easy to handle. See how your community is growing!">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="talalla - beyond the mat" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= ENV["DOMAIN"] %>" />
    <meta property="og:image" content="og-image.jpeg" />
    <meta property="og:description" content="A simple yoga studio management app with a strong focus on community building!" />
    <meta property="og:site_name" content="talalla - beyond the mat" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% unless current_page?(root_url) || current_page?(about_us_url) %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <% if user_signed_in? && !current_page?(root_url) %>
      <%= render partial: 'shared/footer', locals: { studio: current_user.studio }  %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
